.tabBar {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #dadde1;
}

.tab {
  padding: 0px 0px 24px 0px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #101828;
  transition: color 0.3s ease;
}

.tab:hover {
  color: #555;
}

.activeTab {
  position: relative;
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: red;
}
