.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f2f4f7;
  padding: 12px 18px;
  border-radius: 100px;
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #101828;
  cursor: default;
}
